# Dossiers générés par Visual Studio
.vs/
bin/
obj/

# Fichiers utilisateur (config locale)
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
*.vsmdi
*.testresults

# Fichiers de débogage
*.pdb
*.ilk
*.idb

# Fichiers temporaires
*.tmp
*.tmp_proj
*.tmp_files

# Fichiers liés à ReSharper ou autres extensions
_ReSharper*/
*.DotSettings.user
*.ReSharper*

# Fichiers système
Thumbs.db
*.DS_Store
